* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  scroll-behavior: smooth;
}
.carousel img {
  object-fit: cover;
  height: 570px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mBottom {
    margin-bottom: 15px;
  }
}
